########################################
# Java / Maven
########################################
**/target/
*.class

########################################
# Eclipse / STS
########################################
.project
.classpath
.settings/

########################################
# IntelliJ
########################################
.idea/
*.iml

########################################
# VS Code
########################################
.vscode/

########################################
# React
########################################
**/node_modules/
**/build/
**/dist/

########################################
# Python
########################################
**/__pycache__/
**/*.pyc
**/.venv/
**/venv/
**/.pytest_cache/

########################################
# Logs
########################################
*.log
logs/

########################################
# Environment
########################################
.env
.env.*

########################################
# OS Files
########################################
.DS_Store
Thumbs.db